{
  "products": [
    {
      "name": "ベーシックプラン",
      "price_id": "price_xxxxxxxxxx"
    },
    {
      "name": "プレミアムプラン",
      "price_id": "price_xxxxxxxxxx"
    }
  ],
  "default_tax_rates": [
    "txr_xxxxxxxxxx"
  ]
}