html 
  head 
    title= "Stripe Demo"
    script(src="/js/subscription.js")
    link(rel="stylesheet" href="/css/global.css")
  body 
    div(class="header-title") Stripe Demo - Subscription
    form(id="subscription-form")
      div(class="input-title") Customer ID
      input(id="customer-id" type="text")

      div(class="input-title") Plan
      select(id="plan")
        option(value='')
        option(value='price_1ILRTcIH8r0fTJ7pjuvOk1yo') ベーシックプラン(¥900/月)
        option(value='price_1ILRTqIH8r0fTJ7pR0umSPuo') プレミアムプラン(¥3000/月)
        option(value='price_1ILqe4IH8r0fTJ7pjfFOQzP7') 毎日50円プラン(¥50/日)
        option(value='price_1IOObzIH8r0fTJ7pkW4XOVN6') 従量制プラン(定価¥2000/月 - 紹介者数で変動)
      
      div(class="input-title") トライアル期間（日） - Option
      input(id="trial-period-days" type="text")

      button(id="submit")
        div(class="spinner hidden" id="spinner")
        span(id="button-text") Subscribe
      
      p(id="error" role="alert")
      p(class="result-message")
