html 
  head 
    title= "Stripe Demo"
    script(src="/js/payment.js")
    link(rel="stylesheet" href="/css/global.css")
  body 
    h1= "Stripe Demo - Payment"
    form(id="payment-form")
      div(class="input-title")
        =　"Customer ID"
      input(id="customer-id" type="text")
      div(class="input-title")
        =　"Payment method ID"
      input(id="payment-method-id" type="text")
      div(class="input-title")
        =　"Amount(円)"
      input(id="amount" type="text")
      button(id="submit")
        div(class="spinner hidden" id="spinner")
        span(id="button-text") Pay
      p(id="error" role="alert")
      p(class="result-message")
