html 
  head 
    title= "Stripe Demo"
    link(rel="stylesheet" href="/css/global.css")
  body 
    div(class="header-title") Stripe Demo
    ul.top-menu
      li.top-menu-item
        a(href="/customer") /customer
      li.top-menu-item カスタマー（顧客）の作成

      li.top-menu-item 
        a(href="/card") /card
      li.top-menu-item クレジットカード登録

      li.top-menu-item 
        a(href="/card_change") /card_change
      li.top-menu-item クレジットカード変更

      li.top-menu-item 
        a(href="/card_detach") /card_detach
      li.top-menu-item クレジットカード削除（デタッチ）

      li.top-menu-item 
        a(href="/payment") /payment
      li.top-menu-item 都度決済

      li.top-menu-item 
        a(href="/refund") /refund
      li.top-menu-item 返金

      li.top-menu-item 
        a(href="/subscription") /subscription
      li.top-menu-item 定期支払い（サブスクリプション）

      li.top-menu-item 
        a(href="/subscription_cancel") /subscription_cancel
      li.top-menu-item 定期支払いの解約

      li.top-menu-item 
        a(href="/subscription_change_plan") /subscription_change_plan
      li.top-menu-item 定期支払いの商品（コース）変更

      li.top-menu-item 
        a(href="/subscription_promotion_code") /subscription_promotion_code
      li.top-menu-item 定期支払いプロモーションコードの適用

      li.top-menu-item 
        a(href="/subscription_staged_price") /subscription_staged_price
      li.top-menu-item 従量課金プランの使用量の反映

      li.top-menu-item 
        a(href="/subscription_user_action") /subscription_user_action
      li.top-menu-item 3Dセキュアの対応が必要な場合のユーザ操作画面
