html 
  head 
    title= "Stripe Demo"
    script(src="/js/card_detach.js")
    link(rel="stylesheet" href="/css/global.css")
  body 
    div(class="header-title") Stripe Demo - Card(Detach)
    form(id="card-form")
      div(class="input-title") Payment method ID
      input(id="payment-method-id" type="text")

      button(id="submit")
        div(class="spinner hidden" id="spinner")
        span(id="button-text") Detach

      p(id="error" role="alert")
      p(class="result-message")
