html 
  head 
    title= "Stripe Demo"
    script(src="/js/subscription_change_plan.js")
    link(rel="stylesheet" href="/css/global.css")
  body 
    div(class="header-title") Stripe Demo - Subscription (Change Plan)
    form(id="subscription-form")
      div(class="input-title") Subscription ID
      input(id="subscription-id" type="text")
      
      div(class="input-title") Plan
      select(id="plan")
        option(value='')
        each product in products
          option(value= product.price_id)= product.name
      
      button(id="submit")
        div(class="spinner hidden" id="spinner")
        span(id="button-text") Change Plan
      
      p(id="error" role="alert")
      p(class="result-message")
